@page "/clients"
@rendermode InteractiveWebAssembly
@inject IClientService ClientService
@inject IJSRuntime JS
@code {
    private List<Client> clients = new List<Client>();
    private Client newClient = new Client();
    private Modal<Client> modalRef;
    protected override async Task OnInitializedAsync()
    {
        await RefreshClients();
    }

    protected async Task RefreshClients()
    {
        clients.Clear();
        clients.AddRange(await ClientService.GetClientsAsync());
    }

    private async Task AddClient()
    {
        await ClientService.CreateClientAsync(newClient);
        await RefreshClients();
        newClient = new Client();
        await modalRef.HideModal();
    }

    private async Task OpenModal()
    {
        await modalRef.ShowModal();
    }

    private async Task DeleteClient(int clientId)
    {
        await ClientService.DeleteClientAsync(clientId);
        await RefreshClients();
    }
}

<h3>Clients</h3>
<button class="btn btn-primary mb-3" @onclick="OpenModal">Add New Client</button>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in clients)
        {
            <tr>
                <td>@client.Id</td>
                <td>@client.FirstName</td>
                <td>@client.LastName</td>
                <td>@client.Email</td>
                <td>@client.Phone</td>
                <td>
                    <button class="btn btn-danger" @onclick="() => DeleteClient(client.Id)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<Modal Title="Add New Client" Model="newClient" OnSubmit="AddClient" @ref="modalRef">
    <EditForm Model="newClient">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <InputText id="firstName" class="form-control" @bind-Value="newClient.FirstName" />
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <InputText id="lastName" class="form-control" @bind-Value="newClient.LastName" />
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <InputText id="email" class="form-control" @bind-Value="newClient.Email" />
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <InputText id="phone" class="form-control" @bind-Value="newClient.Phone" />
        </div>
    </EditForm>
</Modal>
